[submodule "uninav-backend"]
	path = uninav-backend
	url = https://github.com/ProsperCoded/uninav-backend.git
[submodule "uninav_frontend"]
	path = uninav_frontend
	url = https://github.com/ProsperCoded/uninav_frontend
[submodule "uninav-frontend"]
	path = uninav-frontend
	url = https://github.com/ProsperCoded/uninav_frontend
[submodule "uninav-frontend-v2"]
	path = uninav-frontend-v2
	url = https://github.com/uninav-buildminds/uninav-frontend-v2
